.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(45deg, #021526 10%, #03346E 80%, #6eabda 140%); */

  height: 10vh;
  /* 100% of the viewport height */
  text-align: center;
  margin: 0;
  width: 100vw;
  padding: 20px;
  position: fixed;
  /* Fixed position to cover the entire viewport */
  top: 0;
  /* Aligns to the top */
  left: 0;
  /* Aligns to the left */
  width: 100vw;
  /* Full width of the viewport */
  height: 100vh;
  /* Full height of the viewport */
  z-index: -1;
  color: white;
}

.test {
  font-size: 50px;
  font-family: 'Ivy', sans-serif;
  margin-bottom: 20px;
  align-items: center;
  align-self: center;
  align-content: center;
  color: white;
  text-shadow:
    0 0 5px rgba(0, 230, 230, 0.8),
    /* Light glow */
    0 0 10px rgba(0, 230, 230, 0.6),
    /* Medium glow */
    0 0 15px rgba(0, 230, 230, 0.4);
  /* Strong glow */
}

.inputcontainer {
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  font-size: 20px;
  padding-left: 10px;
  color: white;
  text-shadow:
    0 0 5px rgba(0, 230, 230, 0.8),
    /* Light glow */
    0 0 10px rgba(0, 230, 230, 0.6),
    /* Medium glow */
    0 0 15px rgba(0, 230, 230, 0.4);
  /* Strong glow */
  align-content: center;

}

::placeholder {
  font-size: 15px;
  color: white;
  text-shadow:
    0 0 5px rgba(0, 230, 230, 0.8),
    /* Light glow */
    0 0 10px rgba(0, 230, 230, 0.6),
    /* Medium glow */
    0 0 15px rgba(0, 230, 230, 0.4);
  /* Strong glow */
  letter-spacing: 1px;
}

.fa-user {
  font-size: 20px;
}

.fa-unlock-alt {
  font-size: 20px;
}

/* .mass{
    min-height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
    box-shadow: 0 -4px 2px 0 rgba(255, 255, 255, 0.526), 
            0 4px 2px 0 rgba(255, 255, 255, 0.526), 
            0 6px 8px 0 rgba(255, 255, 255, 0.526);
  } */
.master {
  margin-top: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}

/* Video Background */
.master::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  background: url('../video/video.mp4') no-repeat center center/cover;
  z-index: -2;
}

/* Video Element */

.videoContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  /* Made some changes here*/
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 100%;
  height: 100vh;
  /* Made some changes here*/
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease-in-out;
}

video:hover {
  transform: scale(1.05);
}

.selectcontainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-size: 25px;
  float: left;

}

.selectcontainer select {
  border: 0px solid #f10000;
  border-color: #f10000;
  border-radius: 5px;
  font-size: 16px;
}


.errormessage {
  color: red;
  font-size: 20px;
}

.buttoncontainer {
  height: 40px;
  transition: 1s;
  /* margin-top: 10px; */
  height: 20px;

  font-size: 25px;
}

.button {
  width: 100px;
  height: 40px;
  background-color: green;
  padding: 10px 20px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.buttoncontainer:hover {
  cursor: pointer;
}

.loginstatus {
  color: red;
  margin-top: 10px;
  font-weight: bold;
  /* margin-left: 35%; */
  font-size: 20px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

}